<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elgentos" translate="label" sortOrder="50">
            <label>Elgentos</label>
        </tab>
        <section id="elgentos_categorytiling" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Elgentos Category Tiling</label>
            <tab>elgentos</tab>
            <resource>Elgentos_CategoryTiling::config</resource>
            <group id="category" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Category</label>
                <field id="show_tiling_filtered" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="select">
                    <label>Show tiling on filtered category pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
